.container {
  margin: 3rem 4rem;
  background-color: #03156d;
  padding: 3rem 2.5rem;
  border-radius: 48px;
}

.container button {
  background: #c701ff;
  border-radius: 14px;
  padding: 16px 38px;

  border: none;
  outline: none;
  box-shadow: none;
  color: #fff;
  margin-right: 5rem;
}

@media screen and (max-width: 768px) {
  
  .container h4 {
    font-size: 18px;
    width: 100%;
  }
  .container button {
    width: 200px;
    margin-right: 0;
    padding: 12px 20px;
    gap: 6px;
  }
}

@media screen and (max-width: 576px) {
  .container button {
    width: 140px;
    margin-right: 0;
    padding: 12px 8px; 
    gap: 6px;

    font-size: 0.8rem;
  }
  .container {
    margin: 2rem;
    padding: 2rem 1.5rem;
    flex-direction: column;
  }
  .container h4 {
    width: 100% !important;
    text-align: center;
  }

}
