.heading p {
  margin: -1rem 0 0 0;
}

.input input,
.input button {
  all: unset;
}

.input {
  background: #ffffff;
  border: 1.5px solid #d9dfea;
  border-radius: 170px;
}

.input button {
  margin: 0.1rem;
  width: fit-content !important;
  background-color: #18a8ff;
  padding: 8px 24px;
  border-radius: 170px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
}

.input input::placeholder {
  font-size: 14px;
  line-height: 22px;
  color: #667790;
}

.input input {
  padding: 0 1rem;
}

@media screen and (max-width: 391px) {
  .input {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .input input {
    resize: both;
    font-size: 12px;
  }

  .input input::placeholder {
    font-size: 12px;
  }

  .input button {
    font-size: 12px;
  }
}
