.container {
  overflow-x: hidden;
}

.left {
  padding-right: 6rem !important;
}

.sub-title {
  color: #c701ff !important;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;

  text-transform: uppercase;
}

.left h2 {
  line-height: 64px;
  color: #03156d;
  letter-spacing: -0.02em;
}
.left p {
  font-size: 16px;
  line-height: 24px;
}

.h-rule {
  border-bottom: 1px solid #d9dfea;
}

.overview {
  width: 20%;
}

.overview h2,
.overview h6 {
  color: #03156d;
}
.overview h6 {
  font-size: 18px;
  line-height: 24px;
}
.overview p,
.left p {
  color: #667790;
}
.overview p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.right img {
  width: 85%;
}

@media screen and (max-width: 992px) {
  .overview-components {
    flex-direction: column;
  }
  .overview {
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .left h2 {
    line-height: 40px;
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 450px) {
  .left {
    padding-right: 3rem !important;
  }
}
