.heading h3 {
  line-height: 56px;
  width: 50%;
  margin-top: -0.6rem;
}

.card {
  text-align: center;
}

.connect-line {
    display: none;
}

.connect-line:last-child {
    display: none;
}

.cards {
    margin-top: 4rem;
}

.cards.mobile {
  display: none;
}


@media screen and (max-width: 768px) {
  .cards {
    flex-wrap: wrap;
  }
  .cards.mobile {
    display: block;
  }
  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .description {
    display: flex;
    align-items: center;
    flex-direction: column;
    
  }

  .description p {
    width: 90%;
  }

  .cards.desktop {
    display: none !important; 
  }
}
