.heading h3 {
  line-height: 56px;
  width: 50%;
  margin-top: -0.6rem;
}

.card {
  text-align: center;
}

.connect-line {
    display: none;
}

.connect-line:last-child {
    display: none;
}

.cards {
    margin-top: 4rem;
}

@media screen and (max-width: 768px) {
  .cards {
    flex-wrap: wrap;
  }
}
