* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
}

:root {
  --primary-navy: #162a59;
  --body-text-grey: #162a59;
  --primary-blue: #5da7ef;
  --abstract-orange: #e1843c;

  --shadow-normal: 0px 8px 16px -8px rgba(15, 15, 15, 0.2);
  --shadow-bottom-dark: 0px 24px 24px -16px rgba(15, 15, 15, 0.2);
  --shadow-bottom-md: 0px 40px 32px -24px rgba(15, 15, 15, 0.12);
  --shadow-bottom-light: 0px 64px 64px -48px rgba(15, 15, 15, 0.1);
}

/* Global Style */

.H2,
.H3,
.H4,
.H5,
.H6,
.H7 {
  font-weight: bold;
  letter-spacing: -0.02em;
}
.H2 {
  font-size: 64px;
}
.H3 {
  font-size: 48px;
}
.H4-lg {
  font-size: 40px;
}
.H4 {
  font-size: 36px;
}
.H5 {
  font-size: 24px;
}
.H6,
.H7 {
  font-size: 24px;
}
.H4-sm {
  font-size: 32px;
}

.H8 {
  font-size: 18px;
}

p {
  font-family: "Poppins", sans-serif;
}

.p-xl {
  font-size: 24px;
}
.p-lg {
  font-size: 20px;
}

.p1 {
  font-size: 16px;
}
.p2 {
  font-size: 14px;
}
.p3 {
  font-size: 12px;
}
.p4 {
  font-size: 10px;
}

.text-pink {
  color: #c701ff;
}
.t-primary {
  color: #03156d;
}
.t-dark {
  color: #23262f;
}

ul,
li,
a {
  all: unset;
  text-decoration: none;
}

.section-padding {
  padding: 2rem 8rem;
}

.section-padding-left {
  padding: 2rem 0 2rem 8rem;
}

.slider__container,
.slick-track {
  display: flex;
  align-items: center;
  gap: 4rem;
  justify-content: space-around !important;
}

.para-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #777e91;
  letter-spacing: -0.01em;
}

.text-grey {
  color: #777e91;
}
.text-light {
  color: #667790 !important;
}
.t-bold {
  font-weight: 500;
}

.section-heading {
  line-height: 56px;
  width: 50%;
  margin-top: -0.6rem;
}

@media screen and (max-width: 768px) {
  .slick-initialized .slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section-padding-left {
    padding: 2rem 0 2rem 4rem;
  }
  .section-padding {
    padding: 2rem 4rem;
  }
  .slider__container,
  .slick-track {
    gap: 0rem;
  }
  .mobile__slick-slide .slick-slide {
    width: 423px !important;
  }

  .card__gap-slick .slick-track {
    gap: 3.5rem;
  }
}

@media screen and (max-width: 576px) {
  .section-padding {
    padding: 2rem;
  }
  .p2 {
    font-size: 12px;
  }
  .p3 {
    font-size: 10px;
  }
  .p-xl {
    font-size: 20px;
  }
  .p-lg {
    font-size: 18px;
  }

  .H2 {
    font-size: 48px;
    /* line-height: 50px !important; */
  }
  .H3 {
    font-size: 40px;
  }
  .H4 {
    font-size: 24px;
  }
  .H6 {
    font-size: 20px;
  }
}

@media screen and (max-width: 430px) {
  .slider__container,
  .slick-track {
    gap: 3rem !important;
  }
  .H2 {
    font-size: 36px;
    /* line-height: 40px !important ; */
  }
  .H3 {
    font-size: 32px;
    line-height: 34px !important;
  }

  .p-xl {
    font-size: 1rem;
  }
  .p1 {
    font-size: 1rem;
  }
}
